body {
    margin: 0;
    background-color: lightskyblue;
}

#top {
    padding-left: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-areas: 
        "h1 response username"
        "form response username";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: lightgrey;
    box-shadow: 0 5px 10px grey;
}

#taskForm {
    grid-area: form;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 8px;
    width: 20%;
}

#top h1 {
    grid-area: h1;
}

#username {
    grid-area: username;
    display: flex;
    justify-content: end;
    margin: 1em;
}

#response {
    grid-area: response;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

#content {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    padding: .5em;
}

#content div {
    box-shadow: 3px 10px 10px grey;
    padding: 0 0 1em 1em;
    border-radius: 25px;
    border: 1px solid grey;
    background-color: white;
}

h3 {
    margin: .5em 0 .5em 0;
}

.School {
    background-color: hotpink;
    width: fit-content;
}

.Appointment {
    background-color: cyan;
    width: fit-content;
}

.Work {
    background-color: yellow;
    width: fit-content;
}

.Event {
    background-color: lightgreen;
    width: fit-content;
}

.Other {
    background-color: lightgrey;
    width: fit-content;
}