#top {
    display: grid;
    grid-template-areas: 
        "h1 response"
        "form response";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
}

#taskForm {
    grid-area: form;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 20%;
}

#top h1 {
    grid-area: h1;
}

#response {
    grid-area: response;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#content {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
}

#content div {
    box-shadow: 3px 10px 10px grey;
    padding: 0 0 1em 1em;
    border-radius: 25px;
    border: 1px solid grey;
}

h3 {
    margin: .5em 0 .5em 0;
}

.School {
    background-color: hotpink;
}

.Appointment {
    background-color: cyan;
}

.Work {
    background-color: yellow;
}

.Event {
    background-color: lightgreen;
}

.Other {
    background-color: lightgrey;
}